:root {
    --color-white: #fff;
    --color-gray: #F0F0F0;
    --color-gray-500: #5C5C5C;
    --color-dark: #000000;
    --color-green: #28D979;
    --color-orange: #F6ED1E;
}
* {
    box-sizing: border-box;
}
.pt-20 {
    padding-top: 20px;
}
.flex {
    display: flex;
}
.gap-15 {
    gap: 15px;
}
.gap-20 {
    gap: 20px;
}
.gap-25 {
    gap: 25px;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.mt-50 {
    margin-top: 50px;
}
.text-green {
    color: var(--color-green)
}
.bg-green, .bg-white {
    width: 170px !important;
    height: 175px !important; 
    padding: 10px 20px;
    font-size: small;
}
.bg-green h4, .bg-white h4 { 
    margin: 10px 0;
}
.bg-green p, .bg-white p {
    line-height: 20px;

}
.bg-green {
    background-color: var(--color-green) !important;
    color: var(--color-gray);
}
.bg-dark {
    background-color: var(--color-dark) !important;
}
.bg-green h4 i {
    font-size: large;
}
.bg-white {
    background-color: var(--color-white) !important;
}
.fs-small {
    font-size: 11px;
}
.container {
    width: 1024px;
    margin: auto;
    flex-wrap: wrap; 
}
.card {
    width: 200px; 
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    font-family: sans-serif;
    background-color: var(--color-gray);
}
.language, .intro, .education, .interest, .contact, .tools {
    padding: 20px;
}
.language {
    width: 400px;
}  
.education, .interest, .contact {
    width: 416px;
}
.education {
    height: 460px;
}
.interest {
    height: 280px;
}
.porfile img {
    width: 100%;
    height: 300px;
    object-fit: cover; 
}
.intro {
    display: flex;
    flex-direction: column;
    font-size: large;
}
.intro span:first-child {
    margin-bottom: auto;
}
.intro h3 {
    font-size: 26px;
}
.intro span:last-child {
    color: var(--color-gray-500);
}
.language h3, .education h3, .interest h3, .tools h3, .experience h3 { 
    margin: 0;
    margin-bottom: 25px;
}
.progress-bar { 
    margin-bottom: 10px;
}
.progress-bar span {
    width: 100px;
}
.progress {
    overflow: hidden; 
    width: 280px;
    height: 15px;
    border-radius: 8px;
}
.progress-value {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--color-green);
}
.badge {
    font-size: small;
    padding: 6px 15px;
    border-radius: 15px;
    background-color: var(--color-white);
    text-transform: lowercase;
}
.contact {
    height: 150px;
    margin-top: 25px;
    background-color: var(--color-dark);
    color: var(--color-gray);
}
.contact h3 {
    font-size: 22px;
    margin: 5px 0 30px 0;
    letter-spacing: 2px;
}
.contact hr {
    height: 22px;
    margin-top: 0px;
}
.tools, .experience  {
    height: 600px; 
}
.badge-card {
    width: 70% !important;
    position: relative;
    overflow: visible;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 30px;
}
.badge-card:first-child {
    height: 120px !important;
}
.badge-card .badge {
    position: absolute;
    color: var(--color-white);
    top: -15px;
    left: 13%;
    font-size: x-small;
} 
.badge-card img {
    width: 32px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.experience {
    width: 630px;
}
 
.experience h3 {
    margin: 20px 0 0 20px;
}